* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(#BDBDFD, #535EEB, #00218A);
    color: white;
    font-family: "Roboto", sans-serif;
}

/* =========== Landing Page ============= */
#landing-desc {
    margin: 8%;
    padding: 10px;
}

#landing-logo {
    margin: 8%;
    padding: 10px;
}

.landing-header {
    font-size: 60px;
    margin-bottom: 20px;
}

.landing-description {
    font-size: 25px;
    margin-bottom: 40px;
}

.visitBtn {
    background-color: #BC75F9;
    border: #BC75F9;
    font-size: 25px;
    border-radius: 40px;
    color: white;
    padding: 16px 35px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.credit, .team-name {
    margin-bottom: 20px;
}

.credit {
    margin-top: 30px;
    font-weight: 100;
    letter-spacing: 3px;
}
.team-name {
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 900;
    font-size: 30px;
}

/* MAIN PAGES */
/* shared elements: header, .title, .instructions, progress bar, arrows */
header {
    text-align: center;
    padding: 3% 5% 3%;    
}

.title {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 10px;
}

.instructions {
    font-size: 20px;
    font-weight: 100
}

.leftArrow, .rightArrow {
    display: inline-block;
    margin: auto;
    padding: 25px;
}

.leftArrow {
    float: left;
}
.rightArrow {
    float: right;
}

/* Progress Bar */
.container {
    width: 600px;
    margin: auto;
    margin-bottom: 0px;
    padding: 25px;
    display: inline-block;
}

.progressbar {
    counter-reset: step;
}

.progressbar li {
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}
.progressbar li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 2px solid white;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}
.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: white;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active {
    color: green;
}
.progressbar li.active:before {
    border-color:  #BC75F9;
    background-color: #BC75F9;
}
.progressbar li.active + li:after {
    background-color: #BC75F9;
}


/* ============= Computer.html ============= */
.computer-type {
    text-align: center;
}

.laptop-icon, .desktop-icon {
    margin: 0px 20px 50px;
}


/* ============== Price.html ===============*/
.input-box {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 17%;
}

.price {
    border: none;
    border-radius: 25px;
    width: 20%;
    margin: 10px;
    height: 40px;
    padding: 15px;
    outline: none;
}

.price:focus, .features-input:focus {
    border: 2px solid #555;
  }



/* =========== Brands.html =============== */
.grid-container {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.brand {
    margin: 0 70px 70px;
    vertical-align: middle;
}


/* =========== Features.html ============== */
.features {
    text-align: center;
    margin: 50px;
    padding: 40px;  
    margin-bottom: 160px;
}

.features-input {
    border: none;
    border-radius: 25px;
    width: 50%;
    margin: 10px;
    height: 40px;
    padding: 15px;
    outline: none;
}

