* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  height: 100%
}

body {
  background-image: linear-gradient(#bdbdfd, #535eeb, #00218a);
  color: white;
  margin: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}