.results {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.results > * {
  background-color: white;
  color: black;
}

.results-header {
  display: flex;
  align-items: center;
  margin: auto;
  text-align: center;
}

.leftarrow-results {
  background-color: black;
}

.fill {
    width: 25%
}

.clearfix {
  clear: both;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

.result-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.result-link {
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.result-text {
  display: inline-block;
  text-align: right;
  font-size: 12pt;
}

.result-text.name {

}

.result-text.review {

}

.result-text.price {

}


